@media only screen and (min-width: 320px) and (max-width: 768px) {
  body {
    padding: 0;
    margin: 0;
  }

  main#main-chat {
    display: block;
    max-width: 100%;
  }

  section#section-chat {
    display: block;
    width: 100%;
    background-color: inherit;
    margin-top: 12px;
  }

  .chat-messages {
    display: none;
  }

  .search-chat {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 10px;
  }

  .borders {
    border: none;
    background-color: white;
    border-radius: 10px;
  }

  .chat-icons {
    display: none;
  }

  .search-name {
    display: none;
  }

}