@font-face {
    src: url(fonts/OpenSans-Regular.ttf);
    font-family: OpenSans-Regular;
  }
  
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: OpenSans-Regural, sans-serif;
    font-size: 0.9rem;
    background-color: #e9ecef;
    background-color: -moz-linear-gradient(top, #e9ecef, white 0%);
  }
  
  header {
    min-width: auto;
    background-color: white;
  }
  
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 12px;
    width: inherit;
  }
  
  a.search {
    text-decoration: none;
    color: black;
  }
  
  .icons {
    margin-right: 25px;
  }
  
  .location {
    margin-left: 25px;
  }
  
  .gray {
    color: #414464;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 12px;
    padding: 50px;
  }
  
  section {
    margin-top: 65px;
    padding: 20px;
  }
  
  .get-premium,
  .purchase {
    box-sizing: border-box;
    height: auto;
    border-radius: 8px;
    background-color: white;
    padding: 15px;
    width: auto;
    box-shadow: 5px 5px 10px #888;
  }
  
  img.profiles {
    display: inline-block;
    width: 40px;
    border-radius: 8px;
  }
  
  .profile > a.profiles,
  p {
    display: inline-block;
    vertical-align: top;
  }
  
  .profile > p {
    display: inline-block;
    margin: 0;
  }
  
  button {
    border: none;
    border-radius: 9px;
    height: auto;
    width: auto;
    color: white;
    background-color: #4e50b8;
    cursor: pointer;
    padding: 9px 20px 9px 20px;
  }
  
  .links {
    margin-top: 45px;
  }
  
  .search {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 75px;
  }
  
  .links a {
    display: block;
    line-height: 30px;
  }
  
  a.view-other {
    height: auto;
    width: auto;
    background-color: whitesmoke;
    border: none;
    cursor: pointer;
    border-radius: 9px;
    padding: 9px 20px 9px 20px;
    margin-bottom: 32px;
    text-decoration: none;
    color: black;
  }
  
  a.view-other:hover {
    background-color: #414464;
    color: white;
  }
  
  small {
    color: #414464;
  }
  
  .communicate > img,
  p {
    display: inline-block;
    vertical-align: middle;
  }
  
  .communicate {
    margin-top: 35px;
  }
  
  .links-text {
    text-decoration: none;
    color: #414464;
    margin-left: 12px;
    font-weight: bolder;
  }
  
  figure {
    background-color: #4e50b8;
    padding: 12px;
    margin: 0;
    border-radius: 9px;
    width: 75%;
    box-shadow: 5px 5px 10px #888;
    position: relative;
  }
  
  figure > img,
  figcaption {
    display: inline-block;
    vertical-align: top;
  }
  
  figcaption {
    color: white;
  }
  
  figure .link-icon {
    color: white;
    position: absolute;
    left: 95%;
    bottom: 30%;
  }
  
  .other-users {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .user-pic {
    position: relative;
    margin-top: 27px;
  }
  
  .user-pic-emoji {
    display: flex;
    position: absolute;
    left: 30%;
    bottom: 10%;
  }
  
  img.profiles,
  span#pop-text {
    display: inline;
    vertical-align: middle;
  }
  
  .search {
    margin-top: 35px;
    display: flex;
    box-shadow: 5px 5px 10px #888;
    padding: 15px;
    border-radius: 9px;
    width: 80%;
    background-color: white;
  }
  
  .names {
    box-sizing: border-box;
    margin-top: 35px;
    border-radius: 8px;
    background-color: white;
    padding: 15px;
    width: auto;
    box-shadow: 5px 5px 10px #888;
  }
  
  .more {
    display: none;
  }
  
  img.top:hover {
    display: inline-block;
    width: 150px;
    border-radius: 8px;
  }
  
  @media only screen and (max-width: 768px) {
    html,
    body {
      padding: 0;
      margin: 0;
    }
  
    main {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      padding: 0;
      margin: 0;
    }
  
    section#section-two {
      order: 1;
      max-width: 100%;
      margin: 30px 0 0 0;
    }
  
    .user-pic img {
      max-width: 100%;
    }
  
    section#section-one {
      order: 3;
      max-width: 100%;
      margin: -59px 5px 0 0;
    }
  
    section#section-three {
      order: 2;
      position: relative;
      margin: -95px 0 0 0;
      display: block;
    }
  
    .names {
      margin: 0 auto 0 auto;
      max-width: 75%;
    }
  
    .other-info {
      display: none;
    }
  
    .more {
      display: block;
      margin: 0 35px 0 75px;
    }
  
    .links > a {
      display: inline-block;
    }
  
    .links > a > span {
      display: none;
    }
  
    .links {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  
    figure,
    .get-premium,
    .purchase,
    .search,
    .user-pic-emoji {
      display: none;
    }
  
    .user-pic {
      max-width: inherit;
    }
  }
  