@font-face {
  src: url(fonts/OpenSans-Regular.ttf);
  font-family: OpenSans-Regular;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: OpenSans-Regural, sans-serif;
  font-size: 0.9rem;
  background-color: #e9ecef;
  background-color: -moz-linear-gradient(top, #e9ecef, white 0%);
}

header {
  position: fixed;
  min-width: 100%;
  height: 10vh;
  background-color: white;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 12px;
  width: inherit;
}

.icons {
  margin-right: 25px;
}

.location {
  margin-left: 25px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
  padding: 50px;
}

section {
  margin-top: 65px;
  padding: 20px;
}

.get-premium,
.purchase {
  box-sizing: border-box;
  height: 20vh;
  border-radius: 8px;
  background-color: white;
  padding: 15px;
  width: 90%;
  box-shadow: 5px 5px 10px #888;
}

img.profiles {
  display: inline-block;
  width: 40px;
  border-radius: 8px;
}

.profile > a.profiles,
p {
  display: inline-block;
  vertical-align: top;
}

.profile > p {
  display: inline-block;
  margin: 0;
}

button {
  border: none;
  border-radius: 9px;
  height: 30px;
  width: 75%;
  color: white;
  background-color: #4e50b8;
  cursor: pointer;
}

.links {
  margin-top: 45px;
}

.links a {
  display: block;
  line-height: 30px;
}

.links-text {
  text-decoration: none;
  color: #414464;
  margin-left: 12px;
  font-weight: bolder;
}

figure {
  background-color: #4e50b8;
  padding: 12px;
  margin: 0;
  border-radius: 9px;
  width: 75%;
  box-shadow: 5px 5px 10px #888;
  position: relative;
}

figure > img,
figcaption {
  display: inline-block;
  vertical-align: top;
}

figcaption {
  color: white;
}

figure .link-icon {
  color: white;
  position: absolute;
  left: 95%;
  bottom: 30%;
}

.other-users {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-pic {
  position: relative;
}

.user-pic-emoji {
  display: flex;
  position: absolute;
  left: 30%;
  bottom: 10%;
}

img.profiles,
span#pop-text {
  display: inline;
  vertical-align: middle;
}

.search {
  margin-top: 35px;
  display: flex;
  box-shadow: 5px 5px 10px #888;
  padding: 15px;
  border-radius: 9px;
  width: 80%;
  background-color: white;
}

.names {
  box-sizing: border-box;
  margin-top: 35px;
  border-radius: 8px;
  background-color: white;
  padding: 15px;
  width: 90%;
  box-shadow: 5px 5px 10px #888;
}

img.profiles:hover {
  display: inline-block;
  width: 350px;
  border-radius: 8px;
}

@media only screen and (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  section#section-two {
    order: 1;
    width: 100%;
  }

  section#section-one {
    order: 3;
  }

  section#section-three {
    order: 2;
    position: relative;
    bottom: 155px;
    left: 97px;
  }

  .links > a {
    display: inline-block;
  }

  .links > a > span {
    display: none;
  }

  figure,
  .get-premium,
  .purchase,
  .search,
  .user-pic-emoji {
    display: none;
  }
}
