html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  background-color: #f8f8f8;
  background: linear-gradient(to top, #f8f8f8 100%, #fcfcfc 0);
}

header {
  position: fixed;
  min-width: 100%;
  height: 10vh;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding-top: 12px;
  width: inherit;
}

.icons {
  margin-right: 25px;
}

.location {
  margin-left: 25px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
  padding: 30px;
}

section{
  height: 75vh;
  margin-top: 65px;
}

.get-premium {
  box-sizing: border-box;
  box-shadow:


}
