@font-face {
  src: url(fonts/OpenSans-Regular.ttf);
  font-family: OpenSans-Regular;
}

font-face {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fredoka One'), local('FredokaOne-Regular'), url(https://fonts.gstatic.com/s/fredokaone/v7/k3kUo8kEI-tA1RRcTZGmTlHGCac.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: OpenSans-Regural, sans-serif;
  font-size: 0.9rem;
  background-color: #e9ecef;
  background-color: -moz-linear-gradient(top, #e9ecef, white 0%);
}

header {
  min-width: auto;
  background-color: white;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 12px;
  width: inherit;
}

.menu {
  display: none;
}
.linked {
  line-height: 45px;
  margin: 35px 0 12px 0;
}

.linking {
  display: grid;
  grid-template-columns: 1fr 11fr;
}

.linking > * {
  color: #414464;
}

.linking span a {
  text-decoration: none;
  color: #414464;
}

.swip,
.ex {
  font-family: 'Fredoka One', cursive;
  font-size: 2.2rem;
}

.logo a {
  text-decoration: none;
}

.swip {
  color: #4e50b8;
}

.ex {
  color: #f0916e;
}

small {
  color: #414464;
}

a.search {
  text-decoration: none;
  color: black;
}

.icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-right: 25px;
}

.middle-icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.fa-heart {
  color: white;
}

.fa-times {
  color: white;
}


.heart-icon {
  background-color: #4e50b8;
  padding: 16px;
  border-radius: 10px;
}

.x {
  background-color: #f0916e;
  padding: 17px;
  border-radius: 10px;
}

a.left,
a.right {
  background-color: white;
  padding: 0 12px 0 12px;
  border-radius: 12px;
}

.fa-angle-right,
.fa-angle-left {
  color: #414464;
}

.location i {
  font-size: 1rem;
  color: #414464;
}

.head-icons {
  color: #888;
}

.location {
  margin-left: 25px;
}

.gray {
  color: #414464;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  padding: 0 100px 0 100px;
}

section {
  margin-top: 65px;
  max-width: 100%;
}

.n-likes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  align-items: center;
}

section#section-two {
  height: auto;
}

.get-premium,
.purchase {
  box-sizing: border-box;
  height: auto;
  border-radius: 8px;
  background-color: white;
  padding: 15px;
  box-shadow: 5px 5px 47px 20px #888;
}

a.links-text > i > span {
  margin-right: 35px;
}

img.profiles {
  display: inline-block;
  width: 58px;
  height: 58px;
  border-radius: 8px;
}

.profiles {
  display: flex;
  flex-flow: row;
}

.icon-btn {
  padding: 5px;
}

.loc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  border: none;
  border-radius: 9px;
  display: inline-block;
  color: white;
  background-color: #4e50b8;
  cursor: pointer;
  padding: 9px 20px 9px 20px;
}

button.purchase-btn,
button.premium-btn {
  min-width: 100%;
}

.links {
  margin-top: 45px;
}

.links a {
  display: block;
  line-height: 30px;
}

.premium-icon {
  color: #f0916e;
}

.status {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 12px;
  align-items: center;
}

.premium-likes {   
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  max-width: 100%;
}

a.view-other {
  height: auto;
  background-color: rgb(236, 230, 230);
  border: none;
  cursor: pointer;
  border-radius: 9px;
  padding: 9px 59px 9px 57px;
  text-decoration: none;
  color: black;
  width: 100%;
}

a.view-other:hover {
  background-color: #414464;
  color: white;
}

small {
  color: #414464;
}

.communicate > img,
p {
  display: inline-block;
  vertical-align: middle;
}

.communicate {
  margin-top: 35px;
}

.links-text {
  text-decoration: none;
  color: #414464;
  margin-left: 12px;
  font-weight: bolder;
}

figure {
  background-color: #4e50b8;
  padding: 12px;
  margin: 0;
  border-radius: 9px;
  width: 75%;
  box-shadow: 5px 5px 47px 20px #888;
  position: relative;
}

figure > img,
figcaption {
  display: inline-block;
  vertical-align: top;
}

figcaption {
  color: white;
}

figure .link-icon {
  color: white;
  position: absolute;
  left: 95%;
  bottom: 30%;
}

.other-users {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-pic {
  position: relative;
  margin-top: 27px;
  height: auto;
}

.user-pic img {
  border-radius: 9px;
  max-width: 100%;
  height: inherit;
  overflow: hidden;
}

.user-pic-emoji {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 12px 0 12px;
  top: -120px;
}

.arrows {
  color: white;
}

.left {
  margin-right: 100px;
}

.right {
  margin-left: 100px;
}

img.profiles,
span#pop-text {
  display: inline;
  vertical-align: middle;
}

.search {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 47px 20px #888;
  padding: 15px;
  border-radius: 9px;
  background-color: white;
}

.names {
  box-sizing: border-box;
  margin-top: 35px;
  border-radius: 8px;
  background-color: white;
  padding: 15px;
  width: auto;
  box-shadow: 5px 5px 47px 20px #888;
}

.link-to-next {
  margin: 12px 0 12px 0;
}

.names small {
  display: block;
}

.communicate {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}

.pop-purchase {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 10px;
  align-items: center;
}

.pop-text {
  line-height: 12px;
}

img.top:hover {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  margin: 0 12px 0 12px;
}

footer {
  display: none;
}

.hr {
  display: none;
}

/* @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    height: fit-content;
}
  section#section-two {
    padding: 0;
  }

  section {
    height: fit-content;
  }

  .icons {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 30px;
    margin-right: 25px;
  }

  footer {
    display: none;
  }
} */
/* @media only screen and (min-width: 321px) and (max-width: 768px) */
/* small screens for mobiles */

@media only screen and (max-width: 320px) {
  html,
  body {
    padding: 0;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
  }

  main {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
  }

  .menu {
    display: inline;
    margin-left: 12px;
  }

  .menu button {
    background: none;
  }

  .location {
    display: none;
  }

  .fa-bars {
    color: #414464;
  }

  .fa-list-alt,
  .fa-user-circle {
    display: none;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  section#section-two {
    order: 1;
    max-width: 100%;
    margin: 30px 0 0 0;
  }

  img.top {
    max-width: 35px;
    max-height: 35px;
  }

  .other-users {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
  }

  .user-pic img {
    max-width: 100%;
  }

  section#section-one {
    order: 3;
    max-width: 100%;
    margin: 50px 5px 0 0;
    background-color: white;
  }

  section#section-three {
    order: 2;
    position: relative;
    margin: -142px 0 0 0;
    display: block;
  }

  .names {
    margin: 0 auto 0 auto;
    max-width: 75%;
  }

  .location-next,
  .interest,
  .languages,
  .link-to-next,
  .communicate,
  .communicate-gift {
    display: none;
  }

  .links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  figure,
  .get-premium,
  .purchase,
  .search,
  .user-pic-emoji {
    display: none;
  }

  .links {
    display: none;
  }

  footer {
    display: block;
    position: relative;
    margin: 35px 0 0 0;
    background-color: white;
  }

  .footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    max-width: 100%;
    padding: 35px;
  }

  .footer-dots {
    background-color: #4e50b8;
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
    position: absolute;
    left: 45%;
    bottom: 60%;
  }

  .more {
    position: absolute;
    left: 45%;
    bottom: 25%;
  }

  .fa-braille {
    color: white;
  }

  .fa-search,
  .fa-map-marked,
  .fa-comments,
  .fa-user {
    color: #414464;
  }

  section#section-one {
    display: none;
  }

  .user-pic {
    max-width: inherit;
  }
} 

/* from mobiles to tablets */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  html,
  body {
    padding: 0;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
  }

  main {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    /* padding: 0;
    margin: 0; */
    /* align-items: stretch; */
  }

  .menu {
    display: inline;
    margin-left: 12px;
  }

  .menu button {
    background: none;
  }

  .location {
    display: none;
  }

  .fa-bars {
    color: #414464;
  }

  .fa-list-alt,
  .fa-user-circle {
    display: none;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  section#section-two {
    order: 1;
    margin: 0 0 -255px;
    padding: 35px;
  }

  .other-users {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .user-pic img {
    max-width: 100%;
  }

  section#section-one {
    order: 3;
  }

  section#section-three {
    order: 2;
    padding: 0;
    z-index: 1;
  }

  .names {
    margin: 0 auto 0 auto; 
    max-width: 65%;
    box-shadow: 0 -28px 0 -5px #4e50b8;
    border-radius: 10px;
  }

  .location-next,
  .interest,
  .languages,
  .link-to-next,
  .communicate,
  .communicate-gift {
    display: none;
  }

  .links {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
  }

  figure,
  .get-premium,
  .purchase,
  .search,
  .user-pic-emoji {
    display: none;
  }

  footer {
    display: block;
    position: relative;
    margin: 35px 0 0 0;
    background-color: white;
  }

  .footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    padding: 35px;
    align-items: flex-end;
  }

  .footer-dots{
    align-self: flex-start;
  }
  /* .footer-dots {
    background-color: #4e50b8;
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
    position: absolute;
    left: 45%;
    bottom: 60%;
  } */

  .fa-braille {
    color: white;
  }

  .fa-search,
  .fa-map-marked,
  .fa-comments,
  .fa-user {
    color: #414464;
  }

  section#section-one {
    display: none;
  }

  .user-pic {
    max-width: inherit;
  }
}

@media screen and (min-width: 769px) {

}

section#section-chat {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-right: 23px;
  padding: 0 0 0 0;
  background-color: white;
  border-radius: 10px;

}

.search-chat {
  display: flex;
  flex-direction: column;
  border-width: 0 0.07em 0.07em 0;
}

.borders {
  border-style: solid;
  border-width: 0 0.07em 0.07em 0;
  border-color: rgb(207, 206, 206);
  padding: 12px;
}

input#search {
  border: none;
  background-color: inherit;
}

.senders > img,
.small-msg {
  display: inline-block;
  vertical-align: middle;
}

.chat-messages {
  position: relative;
  /* width: max-content; */
}

.chat-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 15px;
}

a.small-msg {
  color: #646466;
  text-decoration: none;
  font-size: 0.7rem;
}

.sender-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sender-name {
  position: relative;
}

#line {
  position: absolute;
  left: 35%;
}

.sender-title {
  padding: 12px;
  border-bottom: 1px solid;
  border-color: rgb(207, 206, 206);
}

.phone {
  color: #414464;
}

.chats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 57px 78px 183px 57px;
  background-color: #f7f7f7
}

.receiver {
  align-self: flex-start;
  margin-bottom: 30px;
  background: rgba(185, 183, 183, 0.3);
  padding: 5px;
  border-radius: 7px;
}

.sender {
  align-self: flex-end;
  margin-bottom: 30px;
  background-color: rgba(126, 144, 224, 0.3);
  padding: 5px;
  border-radius: 7px;
}

/* .

input#msg {
  flex-grow: 1;
  border-radius: 9px;
  border-style: inherit;
  border: 1px solid rgb(207, 206, 206);
  margin: 0 10px 0 10px;
  height: 35px;
} */

/* .msg-input {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 35px;
  align-items: center;
  position: absolute;
  padding-left: 25px;
}

.input#msg {
  border-radius: 9px;
  border-style: inherit;
  border: 1px solid rgb(207, 206, 206);
  margin: 0 10px 0 10px;
  height: 35px;
  width: 100%;
} */
.msg-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  position: absolute;
  bottom: 0;
  width: 70%;
}

.msg-write {
  flex-grow: 1;
  background-color: lemonchiffon;
  margin: 0 12px 12px 12px;
}

input#msg {
  width: 100%;
  border: 1px solid #414464;
  border-radius: 9px;
  height: 25px;
}

.fa-paperclip {
  color: grey;
}

.fa-map-marked,
.fa-envelope-open-text,
.fa-sticky-note {
  color: grey;
  text-decoration: none;
}